In [1]:
# Importing the Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('CKD.csv')
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
# Convert Categorical data to Numerical Data
# It's a Nominal Data-One Hand Encoding
data=pd.get_dummies(data,drop_first=True)
data

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
data.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [5]:
data["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [6]:
#Independent Input
independent=data[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [7]:
#Depenedent Output
dependent=data[["classification_yes"]]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [8]:
# Split Train/Test Set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
param_grid={'criterion':['gini','entropy'],'max_features':['auto','sqrt','log2']}

grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=1)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5] END .criterion=gini, max_features=auto;, score=0.911 total time=   0.0s
[CV 2/5] END .criterion=gini, max_features=auto;, score=0.946 total time=   0.0s
[CV 3/5] END .criterion=gini, max_features=auto;, score=0.946 total time=   0.0s
[CV 4/5] END .criterion=gini, max_features=auto;, score=0.857 total time=   0.0s
[CV 5/5] END .criterion=gini, max_features=auto;, score=0.982 total time=   0.0s
[CV 1/5] END .criterion=gini, max_features=sqrt;, score=0.964 total time=   0.0s
[CV 2/5] END .criterion=gini, max_features=sqrt;, score=0.929 total time=   0.0s
[CV 3/5] END .criterion=gini, max_features=sqrt;, score=0.911 total time=   0.0s
[CV 4/5] END .criterion=gini, max_features=sqrt;, score=0.946 total time=   0.0s
[CV 5/5] END .criterion=gini, max_features=sqrt;, score=0.982 total time=   0.0s
[CV 1/5] END .criterion=gini, max_features=log2;, score=0.982 total time=   0.0s
[CV 2/5] END .criterion=gini, max_features=log2;, score=0.946 total time=   0.0s
[CV 3/5] END .criterion=gini, max_features=log2;, score=0.893 total time=   0.0s
[CV 4/5] END .criterion=gini, max_features=log2;, score=0.982 total time=   0.0s
[CV 5/5] END .criterion=gini, max_features=log2;, score=0.964 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=auto;, score=0.964 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=auto;, score=0.982 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=auto;, score=0.946 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=auto;, score=0.929 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=auto;, score=0.982 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=sqrt;, score=0.982 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=sqrt;, score=0.946 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=sqrt;, score=0.911 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=sqrt;, score=0.964 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=sqrt;, score=0.982 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=log2;, score=0.929 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=log2;, score=0.964 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=log2;, score=0.946 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=log2;, score=0.964 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=log2;, score=0.982 total time=   0.0s

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2']},
             verbose=3)

In [10]:
y_pred=grid.predict(X_test)
y_pred

array([0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0], dtype=uint8)

In [11]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9866666666666667

In [12]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[45,  0],
       [ 2, 73]], dtype=int64)

In [13]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [14]:
print (clf_report)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        45
           1       1.00      0.97      0.99        75

    accuracy                           0.98       120
   macro avg       0.98      0.99      0.98       120
weighted avg       0.98      0.98      0.98       120

In [15]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.017573,0.003250,0.012903,0.011144,gini,auto,"{'criterion': 'gini', 'max_features': 'auto'}",0.910714,0.946429,0.946429,0.857143,0.981818,0.928506,0.042176,6
1,0.019096,0.006162,0.004540,0.004282,gini,sqrt,"{'criterion': 'gini', 'max_features': 'sqrt'}",0.964286,0.928571,0.910714,0.946429,0.981818,0.946364,0.025162,5
2,0.015146,0.009101,0.004124,0.006067,gini,log2,"{'criterion': 'gini', 'max_features': 'log2'}",0.982143,0.946429,0.892857,0.982143,0.963636,0.953442,0.033079,4
3,0.015266,0.001671,0.007128,0.007212,entropy,auto,"{'criterion': 'entropy', 'max_features': 'auto'}",0.964286,0.982143,0.946429,0.928571,0.981818,0.960649,0.020758,1
4,0.012499,0.006250,0.003125,0.006251,entropy,sqrt,"{'criterion': 'entropy', 'max_features': 'sqrt'}",0.982143,0.946429,0.910714,0.964286,0.981818,0.957078,0.026666,2
5,0.012499,0.006249,0.006251,0.007655,entropy,log2,"{'criterion': 'entropy', 'max_features': 'log2'}",0.928571,0.964286,0.946429,0.964286,0.981818,0.957078,0.018122,2

In [16]:
#Save the Model
import pickle
filename="finalized_model_Decision_Tree_Classification_GridSearchCV.sav"
pickle.dump(grid,open(filename,'wb'))

In [17]:
#Load the Model
loaded_model=pickle.load(open("finalized_model_Decision_Tree_Classification_GridSearchCV.sav",'rb'))
result=loaded_model.predict([[23,12,10,13,120,34,98,45,76,66,76,80,12,62,63,86,45,0,1,0,1,0,1,0,1,0,1]])
result

C:\anaconda\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=uint8)